@media(min-width: 1200px) {
  .hidden-72rtr7 {
  display:none!important}
}
@media(min-width: 810px) and (max-width: 1199px) {
  .hidden-1uu5wld {
  display:none!important}
}
@media(max-width: 809px) {
  .hidden-1jamxon {
  display:none!important}
}
