@media(min-width: 1200px) {
  .hidden-ipkpbh {
  display:none!important}
}
@media(min-width: 810px) and (max-width: 1199px) {
  .hidden-nb8wd6 {
  display:none!important}
}
@media(max-width: 809px) {
  .hidden-valxep {
  display:none!important}
}
