@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-RIKqV.framer-1q8arw7, .framer-RIKqV .framer-1q8arw7  {
   display: block;
  }

.framer-RIKqV.framer-wya8or  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-RIKqV .framer-cohx2l  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-RIKqV .framer-1vn1ts8-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-RIKqV .framer-qrm7nf-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-RIKqV.framer-wya8or, .framer-RIKqV .framer-cohx2l  {
   gap: 0px;
  }
 .framer-RIKqV.framer-wya8or > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-RIKqV.framer-wya8or > :first-child  {
   margin-top: 0px;
  }
 .framer-RIKqV.framer-wya8or > :last-child  {
   margin-bottom: 0px;
  }
 .framer-RIKqV .framer-cohx2l > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-RIKqV .framer-cohx2l > :first-child  {
   margin-left: 0px;
  }
 .framer-RIKqV .framer-cohx2l > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-RIKqV .hidden-wya8or  {
   display: none !important;
  }
 
}

.$ {
  v.bodyClassName
}
-framer-RIKqV  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-RIKqV .hidden-1vx2iul  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-RIKqV  {
   background: white;
  }
 .framer-RIKqV.framer-wya8or  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-RIKqV .hidden-3ttsx  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-RIKqV  {
   background: white;
  }
 .framer-RIKqV.framer-wya8or  {
   width: 390px;
  }
 .framer-RIKqV .framer-cohx2l  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-RIKqV .framer-cohx2l  {
   gap: 0px;
  }
 .framer-RIKqV .framer-cohx2l > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-RIKqV .framer-cohx2l > :first-child  {
   margin-top: 0px;
  }
 .framer-RIKqV .framer-cohx2l > :last-child  {
   margin-bottom: 0px;
  }
 
}

}