@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-Cj4Yg.framer-qdrkds, .framer-Cj4Yg .framer-qdrkds  {
   display: block;
  }

.framer-Cj4Yg.framer-lqr5ys  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-Cj4Yg .framer-kuxbnu  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-Cj4Yg .framer-crms3n-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-Cj4Yg .framer-11ehwgc-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-Cj4Yg.framer-lqr5ys, .framer-Cj4Yg .framer-kuxbnu  {
   gap: 0px;
  }
 .framer-Cj4Yg.framer-lqr5ys > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-Cj4Yg.framer-lqr5ys > :first-child  {
   margin-top: 0px;
  }
 .framer-Cj4Yg.framer-lqr5ys > :last-child  {
   margin-bottom: 0px;
  }
 .framer-Cj4Yg .framer-kuxbnu > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-Cj4Yg .framer-kuxbnu > :first-child  {
   margin-left: 0px;
  }
 .framer-Cj4Yg .framer-kuxbnu > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-Cj4Yg .hidden-lqr5ys  {
   display: none !important;
  }
 
}

.$ {
  C.bodyClassName
}
-framer-Cj4Yg  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-Cj4Yg .hidden-yadj0l  {
   display: none !important;
  }
 .$ {
  C.bodyClassName
}
-framer-Cj4Yg  {
   background: white;
  }
 .framer-Cj4Yg.framer-lqr5ys  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-Cj4Yg .hidden-1tbvaw4  {
   display: none !important;
  }
 .$ {
  C.bodyClassName
}
-framer-Cj4Yg  {
   background: white;
  }
 .framer-Cj4Yg.framer-lqr5ys  {
   width: 390px;
  }
 .framer-Cj4Yg .framer-kuxbnu  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-Cj4Yg .framer-kuxbnu  {
   gap: 0px;
  }
 .framer-Cj4Yg .framer-kuxbnu > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-Cj4Yg .framer-kuxbnu > :first-child  {
   margin-top: 0px;
  }
 .framer-Cj4Yg .framer-kuxbnu > :last-child  {
   margin-bottom: 0px;
  }
 
}

}