@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-fOcvM.framer-19epfdw, .framer-fOcvM .framer-19epfdw  {
   display: block;
  }

.framer-fOcvM.framer-1pw2z21  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-fOcvM .framer-14fxlfk  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-fOcvM .framer-wbud1-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-fOcvM .framer-i7hw03-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-fOcvM.framer-1pw2z21, .framer-fOcvM .framer-14fxlfk  {
   gap: 0px;
  }
 .framer-fOcvM.framer-1pw2z21 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-fOcvM.framer-1pw2z21 > :first-child  {
   margin-top: 0px;
  }
 .framer-fOcvM.framer-1pw2z21 > :last-child  {
   margin-bottom: 0px;
  }
 .framer-fOcvM .framer-14fxlfk > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-fOcvM .framer-14fxlfk > :first-child  {
   margin-left: 0px;
  }
 .framer-fOcvM .framer-14fxlfk > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-fOcvM .hidden-1pw2z21  {
   display: none !important;
  }
 
}

.$ {
  b.bodyClassName
}
-framer-fOcvM  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-fOcvM .hidden-10nl6ek  {
   display: none !important;
  }
 .$ {
  b.bodyClassName
}
-framer-fOcvM  {
   background: white;
  }
 .framer-fOcvM.framer-1pw2z21  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-fOcvM .hidden-139oww4  {
   display: none !important;
  }
 .$ {
  b.bodyClassName
}
-framer-fOcvM  {
   background: white;
  }
 .framer-fOcvM.framer-1pw2z21  {
   width: 390px;
  }
 .framer-fOcvM .framer-14fxlfk  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-fOcvM .framer-14fxlfk  {
   gap: 0px;
  }
 .framer-fOcvM .framer-14fxlfk > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-fOcvM .framer-14fxlfk > :first-child  {
   margin-top: 0px;
  }
 .framer-fOcvM .framer-14fxlfk > :last-child  {
   margin-bottom: 0px;
  }
 
}

}