@supports (aspect-ratio: 1) { body { --framer-aspect-ratio-supported: auto; } }

.framer-Z1wid.framer-5pcjz4, .framer-Z1wid .framer-5pcjz4 { display: block; }

.framer-Z1wid.framer-r8ywzq { cursor: pointer; height: 72px; overflow: visible; position: relative; width: 380px; }

.framer-Z1wid .framer-1i486jk { -webkit-user-select: none; bottom: 0px; cursor: pointer; flex: none; height: auto; left: 50%; overflow: visible; position: absolute; user-select: none; white-space: pre-wrap; width: 360px; word-break: break-word; word-wrap: break-word; }

.framer-Z1wid.framer-v-3v0an8.framer-r8ywzq { overflow: hidden; will-change: var(--framer-will-change-override, transform); }

.framer-Z1wid.framer-v-3v0an8 .framer-1i486jk, .framer-Z1wid.framer-v-s81sxb .framer-1i486jk { cursor: unset; }