@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-J56XT.framer-1ehh9mq, .framer-J56XT .framer-1ehh9mq  {
   display: block;
  }

.framer-J56XT.framer-10h0inf  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-J56XT .framer-168dkqi  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-J56XT .framer-1vidpn0-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-J56XT .framer-u22tsw-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-J56XT.framer-10h0inf, .framer-J56XT .framer-168dkqi  {
   gap: 0px;
  }
 .framer-J56XT.framer-10h0inf > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-J56XT.framer-10h0inf > :first-child  {
   margin-top: 0px;
  }
 .framer-J56XT.framer-10h0inf > :last-child  {
   margin-bottom: 0px;
  }
 .framer-J56XT .framer-168dkqi > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-J56XT .framer-168dkqi > :first-child  {
   margin-left: 0px;
  }
 .framer-J56XT .framer-168dkqi > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-J56XT .hidden-10h0inf  {
   display: none !important;
  }
 
}

.$ {
  X.bodyClassName
}
-framer-J56XT  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-J56XT .hidden-1uxufpz  {
   display: none !important;
  }
 .$ {
  X.bodyClassName
}
-framer-J56XT  {
   background: white;
  }
 .framer-J56XT.framer-10h0inf  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-J56XT .hidden-zvgozg  {
   display: none !important;
  }
 .$ {
  X.bodyClassName
}
-framer-J56XT  {
   background: white;
  }
 .framer-J56XT.framer-10h0inf  {
   width: 390px;
  }
 .framer-J56XT .framer-168dkqi  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-J56XT .framer-168dkqi  {
   gap: 0px;
  }
 .framer-J56XT .framer-168dkqi > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-J56XT .framer-168dkqi > :first-child  {
   margin-top: 0px;
  }
 .framer-J56XT .framer-168dkqi > :last-child  {
   margin-bottom: 0px;
  }
 
}

}