@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-vWnxi.framer-1yaxake, .framer-vWnxi .framer-1yaxake  {
   display: block;
  }

.framer-vWnxi.framer-wr5ha4  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-vWnxi .framer-1mmcea7  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-vWnxi .framer-lsaqfz-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-vWnxi .framer-10ue7t4-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-vWnxi.framer-wr5ha4, .framer-vWnxi .framer-1mmcea7  {
   gap: 0px;
  }
 .framer-vWnxi.framer-wr5ha4 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-vWnxi.framer-wr5ha4 > :first-child  {
   margin-top: 0px;
  }
 .framer-vWnxi.framer-wr5ha4 > :last-child  {
   margin-bottom: 0px;
  }
 .framer-vWnxi .framer-1mmcea7 > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-vWnxi .framer-1mmcea7 > :first-child  {
   margin-left: 0px;
  }
 .framer-vWnxi .framer-1mmcea7 > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-vWnxi .hidden-wr5ha4  {
   display: none !important;
  }
 
}

.$ {
  _.bodyClassName
}
-framer-vWnxi  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-vWnxi .hidden-6oymji  {
   display: none !important;
  }
 .$ {
  _.bodyClassName
}
-framer-vWnxi  {
   background: white;
  }
 .framer-vWnxi.framer-wr5ha4  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-vWnxi .hidden-p7zdm1  {
   display: none !important;
  }
 .$ {
  _.bodyClassName
}
-framer-vWnxi  {
   background: white;
  }
 .framer-vWnxi.framer-wr5ha4  {
   width: 390px;
  }
 .framer-vWnxi .framer-1mmcea7  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-vWnxi .framer-1mmcea7  {
   gap: 0px;
  }
 .framer-vWnxi .framer-1mmcea7 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-vWnxi .framer-1mmcea7 > :first-child  {
   margin-top: 0px;
  }
 .framer-vWnxi .framer-1mmcea7 > :last-child  {
   margin-bottom: 0px;
  }
 
}

}