@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-XTO77.framer-1gkceg5, .framer-XTO77 .framer-1gkceg5  {
   display: block;
  }

.framer-XTO77.framer-c7ar5q  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-XTO77 .framer-8xc7qy  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-XTO77 .framer-5svpib-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-XTO77 .framer-1p5ugvx-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-XTO77.framer-c7ar5q, .framer-XTO77 .framer-8xc7qy  {
   gap: 0px;
  }
 .framer-XTO77.framer-c7ar5q > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-XTO77.framer-c7ar5q > :first-child  {
   margin-top: 0px;
  }
 .framer-XTO77.framer-c7ar5q > :last-child  {
   margin-bottom: 0px;
  }
 .framer-XTO77 .framer-8xc7qy > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-XTO77 .framer-8xc7qy > :first-child  {
   margin-left: 0px;
  }
 .framer-XTO77 .framer-8xc7qy > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-XTO77 .hidden-c7ar5q  {
   display: none !important;
  }
 
}

.$ {
  b.bodyClassName
}
-framer-XTO77  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-XTO77 .hidden-gevwu  {
   display: none !important;
  }
 .$ {
  b.bodyClassName
}
-framer-XTO77  {
   background: white;
  }
 .framer-XTO77.framer-c7ar5q  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-XTO77 .hidden-6dmx1r  {
   display: none !important;
  }
 .$ {
  b.bodyClassName
}
-framer-XTO77  {
   background: white;
  }
 .framer-XTO77.framer-c7ar5q  {
   width: 390px;
  }
 .framer-XTO77 .framer-8xc7qy  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-XTO77 .framer-8xc7qy  {
   gap: 0px;
  }
 .framer-XTO77 .framer-8xc7qy > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-XTO77 .framer-8xc7qy > :first-child  {
   margin-top: 0px;
  }
 .framer-XTO77 .framer-8xc7qy > :last-child  {
   margin-bottom: 0px;
  }
 
}

}