@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-lSDMM.framer-ropj60, .framer-lSDMM .framer-ropj60  {
   display: block;
  }

.framer-lSDMM.framer-43j6u0  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-lSDMM .framer-fz73vx  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-lSDMM .framer-1bewkfi-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-lSDMM .framer-1mv3mqn-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-lSDMM.framer-43j6u0, .framer-lSDMM .framer-fz73vx  {
   gap: 0px;
  }
 .framer-lSDMM.framer-43j6u0 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-lSDMM.framer-43j6u0 > :first-child  {
   margin-top: 0px;
  }
 .framer-lSDMM.framer-43j6u0 > :last-child  {
   margin-bottom: 0px;
  }
 .framer-lSDMM .framer-fz73vx > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-lSDMM .framer-fz73vx > :first-child  {
   margin-left: 0px;
  }
 .framer-lSDMM .framer-fz73vx > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-lSDMM .hidden-43j6u0  {
   display: none !important;
  }
 
}

.$ {
  w.bodyClassName
}
-framer-lSDMM  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-lSDMM .hidden-2qdt5u  {
   display: none !important;
  }
 .$ {
  w.bodyClassName
}
-framer-lSDMM  {
   background: white;
  }
 .framer-lSDMM.framer-43j6u0  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-lSDMM .hidden-1pxop0j  {
   display: none !important;
  }
 .$ {
  w.bodyClassName
}
-framer-lSDMM  {
   background: white;
  }
 .framer-lSDMM.framer-43j6u0  {
   width: 390px;
  }
 .framer-lSDMM .framer-fz73vx  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-lSDMM .framer-fz73vx  {
   gap: 0px;
  }
 .framer-lSDMM .framer-fz73vx > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-lSDMM .framer-fz73vx > :first-child  {
   margin-top: 0px;
  }
 .framer-lSDMM .framer-fz73vx > :last-child  {
   margin-bottom: 0px;
  }
 
}

}