@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-QEIkD.framer-1e39nto, .framer-QEIkD .framer-1e39nto  {
   display: block;
  }

.framer-QEIkD.framer-1ot7ppf  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-QEIkD .framer-kzng5d  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-QEIkD .framer-1a9mf1k-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-QEIkD .framer-j3rg0j-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-QEIkD.framer-1ot7ppf, .framer-QEIkD .framer-kzng5d  {
   gap: 0px;
  }
 .framer-QEIkD.framer-1ot7ppf > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-QEIkD.framer-1ot7ppf > :first-child  {
   margin-top: 0px;
  }
 .framer-QEIkD.framer-1ot7ppf > :last-child  {
   margin-bottom: 0px;
  }
 .framer-QEIkD .framer-kzng5d > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-QEIkD .framer-kzng5d > :first-child  {
   margin-left: 0px;
  }
 .framer-QEIkD .framer-kzng5d > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-QEIkD .hidden-1ot7ppf  {
   display: none !important;
  }
 
}

.$ {
  v.bodyClassName
}
-framer-QEIkD  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-QEIkD .hidden-10dqtwf  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-QEIkD  {
   background: white;
  }
 .framer-QEIkD.framer-1ot7ppf  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-QEIkD .hidden-p97cug  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-QEIkD  {
   background: white;
  }
 .framer-QEIkD.framer-1ot7ppf  {
   width: 390px;
  }
 .framer-QEIkD .framer-kzng5d  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-QEIkD .framer-kzng5d  {
   gap: 0px;
  }
 .framer-QEIkD .framer-kzng5d > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-QEIkD .framer-kzng5d > :first-child  {
   margin-top: 0px;
  }
 .framer-QEIkD .framer-kzng5d > :last-child  {
   margin-bottom: 0px;
  }
 
}

}