@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-OPuMG.framer-1wp1lij, .framer-OPuMG .framer-1wp1lij  {
   display: block;
  }

.framer-OPuMG.framer-1tciqdj  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-OPuMG .framer-wc5vv6  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-OPuMG .framer-1f1fipu-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-OPuMG .framer-14xz6mg-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-OPuMG.framer-1tciqdj, .framer-OPuMG .framer-wc5vv6  {
   gap: 0px;
  }
 .framer-OPuMG.framer-1tciqdj > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-OPuMG.framer-1tciqdj > :first-child  {
   margin-top: 0px;
  }
 .framer-OPuMG.framer-1tciqdj > :last-child  {
   margin-bottom: 0px;
  }
 .framer-OPuMG .framer-wc5vv6 > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-OPuMG .framer-wc5vv6 > :first-child  {
   margin-left: 0px;
  }
 .framer-OPuMG .framer-wc5vv6 > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-OPuMG .hidden-1tciqdj  {
   display: none !important;
  }
 
}

.$ {
  _.bodyClassName
}
-framer-OPuMG  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-OPuMG .hidden-1xvy3mp  {
   display: none !important;
  }
 .$ {
  _.bodyClassName
}
-framer-OPuMG  {
   background: white;
  }
 .framer-OPuMG.framer-1tciqdj  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-OPuMG .hidden-401nlj  {
   display: none !important;
  }
 .$ {
  _.bodyClassName
}
-framer-OPuMG  {
   background: white;
  }
 .framer-OPuMG.framer-1tciqdj  {
   width: 390px;
  }
 .framer-OPuMG .framer-wc5vv6  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-OPuMG .framer-wc5vv6  {
   gap: 0px;
  }
 .framer-OPuMG .framer-wc5vv6 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-OPuMG .framer-wc5vv6 > :first-child  {
   margin-top: 0px;
  }
 .framer-OPuMG .framer-wc5vv6 > :last-child  {
   margin-bottom: 0px;
  }
 
}

}