@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-Y76EM.framer-1br4gd5, .framer-Y76EM .framer-1br4gd5  {
   display: block;
  }

.framer-Y76EM.framer-969sk0  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-Y76EM .framer-1n81bz0  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-Y76EM .framer-575ijg-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-Y76EM .framer-10qeana-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-Y76EM.framer-969sk0, .framer-Y76EM .framer-1n81bz0  {
   gap: 0px;
  }
 .framer-Y76EM.framer-969sk0 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-Y76EM.framer-969sk0 > :first-child  {
   margin-top: 0px;
  }
 .framer-Y76EM.framer-969sk0 > :last-child  {
   margin-bottom: 0px;
  }
 .framer-Y76EM .framer-1n81bz0 > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-Y76EM .framer-1n81bz0 > :first-child  {
   margin-left: 0px;
  }
 .framer-Y76EM .framer-1n81bz0 > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-Y76EM .hidden-969sk0  {
   display: none !important;
  }
 
}

.$ {
  w.bodyClassName
}
-framer-Y76EM  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-Y76EM .hidden-1edoao6  {
   display: none !important;
  }
 .$ {
  w.bodyClassName
}
-framer-Y76EM  {
   background: white;
  }
 .framer-Y76EM.framer-969sk0  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-Y76EM .hidden-n4uyhk  {
   display: none !important;
  }
 .$ {
  w.bodyClassName
}
-framer-Y76EM  {
   background: white;
  }
 .framer-Y76EM.framer-969sk0  {
   width: 390px;
  }
 .framer-Y76EM .framer-1n81bz0  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-Y76EM .framer-1n81bz0  {
   gap: 0px;
  }
 .framer-Y76EM .framer-1n81bz0 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-Y76EM .framer-1n81bz0 > :first-child  {
   margin-top: 0px;
  }
 .framer-Y76EM .framer-1n81bz0 > :last-child  {
   margin-bottom: 0px;
  }
 
}

}