@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-ahKFB.framer-ngj57w, .framer-ahKFB .framer-ngj57w  {
   display: block;
  }

.framer-ahKFB.framer-1mp5enu  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-ahKFB .framer-1h7v2kl  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-ahKFB .framer-q2m92i-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-ahKFB .framer-11cdumv-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-ahKFB.framer-1mp5enu, .framer-ahKFB .framer-1h7v2kl  {
   gap: 0px;
  }
 .framer-ahKFB.framer-1mp5enu > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-ahKFB.framer-1mp5enu > :first-child  {
   margin-top: 0px;
  }
 .framer-ahKFB.framer-1mp5enu > :last-child  {
   margin-bottom: 0px;
  }
 .framer-ahKFB .framer-1h7v2kl > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-ahKFB .framer-1h7v2kl > :first-child  {
   margin-left: 0px;
  }
 .framer-ahKFB .framer-1h7v2kl > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-ahKFB .hidden-1mp5enu  {
   display: none !important;
  }
 
}

.$ {
  b.bodyClassName
}
-framer-ahKFB  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-ahKFB .hidden-y38g2e  {
   display: none !important;
  }
 .$ {
  b.bodyClassName
}
-framer-ahKFB  {
   background: white;
  }
 .framer-ahKFB.framer-1mp5enu  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-ahKFB .hidden-sfpcfu  {
   display: none !important;
  }
 .$ {
  b.bodyClassName
}
-framer-ahKFB  {
   background: white;
  }
 .framer-ahKFB.framer-1mp5enu  {
   width: 390px;
  }
 .framer-ahKFB .framer-1h7v2kl  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-ahKFB .framer-1h7v2kl  {
   gap: 0px;
  }
 .framer-ahKFB .framer-1h7v2kl > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-ahKFB .framer-1h7v2kl > :first-child  {
   margin-top: 0px;
  }
 .framer-ahKFB .framer-1h7v2kl > :last-child  {
   margin-bottom: 0px;
  }
 
}

}