@supports (aspect-ratio: 1) { body { --framer-aspect-ratio-supported: auto; } }

.framer-0umfc.framer-ut790n, .framer-0umfc .framer-ut790n { display: block; }

.framer-0umfc.framer-1g1moqd { cursor: pointer; height: 72px; overflow: visible; position: relative; width: 380px; }

.framer-0umfc .framer-zcizhz { align-content: center; align-items: center; display: flex; flex: none; flex-direction: column; flex-wrap: nowrap; gap: 10px; height: min-content; justify-content: center; left: 0px; min-height: 72px; overflow: visible; padding: 0px; position: absolute; top: 50%; width: 360px; }

.framer-0umfc .framer-7j382z { -webkit-user-select: none; bottom: 0px; flex: none; height: auto; left: 0px; overflow: visible; position: absolute; user-select: none; white-space: pre-wrap; width: 360px; word-break: break-word; word-wrap: break-word; }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark)) { .framer-0umfc .framer-zcizhz { gap: 0px; } .framer-0umfc .framer-zcizhz > * { margin: 0px; margin-bottom: calc(10px / 2); margin-top: calc(10px / 2); } .framer-0umfc .framer-zcizhz > :first-child { margin-top: 0px; } .framer-0umfc .framer-zcizhz > :last-child { margin-bottom: 0px; } }

.framer-0umfc.framer-v-1elz6w7.framer-1g1moqd { width: 410px; }