@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-VuNhp.framer-fvghs1, .framer-VuNhp .framer-fvghs1  {
   display: block;
  }

.framer-VuNhp.framer-1o8137r  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-VuNhp .framer-1hx7mh7  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-VuNhp .framer-1s9wjqq-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-VuNhp .framer-1a1d1bm-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-VuNhp.framer-1o8137r, .framer-VuNhp .framer-1hx7mh7  {
   gap: 0px;
  }
 .framer-VuNhp.framer-1o8137r > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-VuNhp.framer-1o8137r > :first-child  {
   margin-top: 0px;
  }
 .framer-VuNhp.framer-1o8137r > :last-child  {
   margin-bottom: 0px;
  }
 .framer-VuNhp .framer-1hx7mh7 > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-VuNhp .framer-1hx7mh7 > :first-child  {
   margin-left: 0px;
  }
 .framer-VuNhp .framer-1hx7mh7 > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-VuNhp .hidden-1o8137r  {
   display: none !important;
  }
 
}

.$ {
  _.bodyClassName
}
-framer-VuNhp  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-VuNhp .hidden-69v6g2  {
   display: none !important;
  }
 .$ {
  _.bodyClassName
}
-framer-VuNhp  {
   background: white;
  }
 .framer-VuNhp.framer-1o8137r  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-VuNhp .hidden-j6nyvl  {
   display: none !important;
  }
 .$ {
  _.bodyClassName
}
-framer-VuNhp  {
   background: white;
  }
 .framer-VuNhp.framer-1o8137r  {
   width: 390px;
  }
 .framer-VuNhp .framer-1hx7mh7  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-VuNhp .framer-1hx7mh7  {
   gap: 0px;
  }
 .framer-VuNhp .framer-1hx7mh7 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-VuNhp .framer-1hx7mh7 > :first-child  {
   margin-top: 0px;
  }
 .framer-VuNhp .framer-1hx7mh7 > :last-child  {
   margin-bottom: 0px;
  }
 
}

}