@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-qFu7e.framer-1x0q41e, .framer-qFu7e .framer-1x0q41e  {
   display: block;
  }

.framer-qFu7e.framer-1pcffxn  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-qFu7e .framer-1e0rqq0  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-qFu7e .framer-11d0z0w-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-qFu7e .framer-yhjwbr-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-qFu7e.framer-1pcffxn, .framer-qFu7e .framer-1e0rqq0  {
   gap: 0px;
  }
 .framer-qFu7e.framer-1pcffxn > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-qFu7e.framer-1pcffxn > :first-child  {
   margin-top: 0px;
  }
 .framer-qFu7e.framer-1pcffxn > :last-child  {
   margin-bottom: 0px;
  }
 .framer-qFu7e .framer-1e0rqq0 > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-qFu7e .framer-1e0rqq0 > :first-child  {
   margin-left: 0px;
  }
 .framer-qFu7e .framer-1e0rqq0 > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-qFu7e .hidden-1pcffxn  {
   display: none !important;
  }
 
}

.$ {
  v.bodyClassName
}
-framer-qFu7e  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-qFu7e .hidden-1ccw4b4  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-qFu7e  {
   background: white;
  }
 .framer-qFu7e.framer-1pcffxn  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-qFu7e .hidden-b200ne  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-qFu7e  {
   background: white;
  }
 .framer-qFu7e.framer-1pcffxn  {
   width: 390px;
  }
 .framer-qFu7e .framer-1e0rqq0  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-qFu7e .framer-1e0rqq0  {
   gap: 0px;
  }
 .framer-qFu7e .framer-1e0rqq0 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-qFu7e .framer-1e0rqq0 > :first-child  {
   margin-top: 0px;
  }
 .framer-qFu7e .framer-1e0rqq0 > :last-child  {
   margin-bottom: 0px;
  }
 
}

}