@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-ZrI92.framer-1kcag02, .framer-ZrI92 .framer-1kcag02  {
   display: block;
  }

.framer-ZrI92.framer-ei83m9  {
   align-content: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-ZrI92 .framer-tdbkq7  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  }

.framer-ZrI92 .framer-b0fqsm-container  {
   flex: none;
  height: 990px;
  position: relative;
  width: 100%;
  z-index: 1;
  }

.framer-ZrI92 .framer-k6lwnz-container  {
   flex: none;
  height: 60px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  }

@supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-ZrI92.framer-ei83m9, .framer-ZrI92 .framer-tdbkq7  {
   gap: 0px;
  }
 .framer-ZrI92.framer-ei83m9 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-ZrI92.framer-ei83m9 > :first-child  {
   margin-top: 0px;
  }
 .framer-ZrI92.framer-ei83m9 > :last-child  {
   margin-bottom: 0px;
  }
 .framer-ZrI92 .framer-tdbkq7 > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-ZrI92 .framer-tdbkq7 > :first-child  {
   margin-left: 0px;
  }
 .framer-ZrI92 .framer-tdbkq7 > :last-child  {
   margin-right: 0px;
  }
 
}

@media (min-width: 1200px)  {
   .framer-ZrI92 .hidden-ei83m9  {
   display: none !important;
  }
 
}

.$ {
  v.bodyClassName
}
-framer-ZrI92  {
   background: white;
  }

@media (min-width: 810px) and (max-width: 1199px)  {
   .framer-ZrI92 .hidden-8y62k  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-ZrI92  {
   background: white;
  }
 .framer-ZrI92.framer-ei83m9  {
   width: 810px;
  }

}

@media (max-width: 809px)  {
   .framer-ZrI92 .hidden-toq88q  {
   display: none !important;
  }
 .$ {
  v.bodyClassName
}
-framer-ZrI92  {
   background: white;
  }
 .framer-ZrI92.framer-ei83m9  {
   width: 390px;
  }
 .framer-ZrI92 .framer-tdbkq7  {
   flex-direction: column;
  }
 @supports (background: -webkit-named-image(i)) and (not (scale:1))  {
   .framer-ZrI92 .framer-tdbkq7  {
   gap: 0px;
  }
 .framer-ZrI92 .framer-tdbkq7 > *  {
   margin: 0px;
  margin-bottom: calc(0px / 2);
  margin-top: calc(0px / 2);
  }
 .framer-ZrI92 .framer-tdbkq7 > :first-child  {
   margin-top: 0px;
  }
 .framer-ZrI92 .framer-tdbkq7 > :last-child  {
   margin-bottom: 0px;
  }
 
}

}