@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-OQDhK.framer-17nyazv, .framer-OQDhK .framer-17nyazv  {
   display: block;
  }

.framer-OQDhK.framer-xrdmqj  {
   align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  min-height: 62px;
  min-width: 242px;
  mix-blend-mode: color-dodge;
  overflow: visible;
  padding: 0px 20px 0px 20px;
  position: relative;
  width: min-content;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-OQDhK.framer-xrdmqj  {
   gap: 0px;
  }
 .framer-OQDhK.framer-xrdmqj > *  {
   margin: 0px;
  margin-left: calc(10px / 2);
  margin-right: calc(10px / 2);
  }
 .framer-OQDhK.framer-xrdmqj > :first-child  {
   margin-left: 0px;
  }
 .framer-OQDhK.framer-xrdmqj > :last-child  {
   margin-right: 0px;
  }
 
}

.framer-OQDhK[data-border="true"]::after, .framer-OQDhK [data-border="true"]::after  {
   content: "";
  border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
  border-color: var(--border-color, none);
  border-style: var(--border-style, none);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
  }