@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-chkuW.framer-cee5wl, .framer-chkuW .framer-cee5wl  {
   display: block;
  }

.framer-chkuW.framer-1v447sb  {
   align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px 40px 24px 24px;
  position: relative;
  width: 1200px;
  }

.framer-chkuW .framer-14v6odq  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 40px;
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  text-decoration: none;
  width: 40px;
  }

.framer-chkuW .framer-lg53ui  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: min-content;
  }

.framer-chkuW .framer-bfa9yp, .framer-chkuW .framer-38cvqr  {
   -webkit-user-select: none;
  flex: none;
  height: auto;
  position: relative;
  user-select: none;
  white-space: pre;
  width: auto;
  }

.framer-chkuW .framer-pklntu  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 2px 11px 2px 11px;
  position: relative;
  text-decoration: none;
  width: min-content;
  z-index: 0;
  }

.framer-chkuW .framer-42p1at  {
   -webkit-user-select: none;
  flex: none;
  height: auto;
  position: relative;
  user-select: none;
  white-space: pre;
  width: auto;
  z-index: 10;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-chkuW .framer-14v6odq, .framer-chkuW .framer-lg53ui, .framer-chkuW .framer-pklntu  {
   gap: 0px;
  }
 .framer-chkuW .framer-14v6odq > *, .framer-chkuW .framer-pklntu > *  {
   margin: 0px;
  margin-left: calc(10px / 2);
  margin-right: calc(10px / 2);
  }
 .framer-chkuW .framer-14v6odq > :first-child, .framer-chkuW .framer-lg53ui > :first-child, .framer-chkuW .framer-pklntu > :first-child  {
   margin-left: 0px;
  }
 .framer-chkuW .framer-14v6odq > :last-child, .framer-chkuW .framer-lg53ui > :last-child, .framer-chkuW .framer-pklntu > :last-child  {
   margin-right: 0px;
  }
 .framer-chkuW .framer-lg53ui > *  {
   margin: 0px;
  margin-left: calc(20px / 2);
  margin-right: calc(20px / 2);
  }
 
}