@supports (aspect-ratio: 1)  {
   body  {
   --framer-aspect-ratio-supported: auto;
  }
 
}

.framer-u1akf.framer-1in2lod, .framer-u1akf .framer-1in2lod  {
   display: block;
  }

.framer-u1akf.framer-npkfjt  {
   align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 800px;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 1200px;
  }

.framer-u1akf .framer-1l1vu5j-container  {
   flex: none;
  height: 100%;
  left: calc(50.00000000000002% - 100% / 2);
  mix-blend-mode: overlay;
  position: absolute;
  top: calc(50.00000000000002% - 100% / 2);
  width: 100%;
  z-index: 1;
  }

.framer-u1akf .framer-19h5hmv  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  height: min-content;
  justify-content: flex-end;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-ahusfa  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  text-decoration: none;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-gufn4n-container  {
   bottom: 0px;
  flex: none;
  height: auto;
  left: 50%;
  position: absolute;
  width: auto;
  z-index: 1;
  }

.framer-u1akf .framer-1h8xoln, .framer-u1akf .framer-1mmbfxd, .framer-u1akf .framer-hrggxs, .framer-u1akf .framer-stnrf1  {
   flex: none;
  height: auto;
  pointer-events: none;
  position: relative;
  white-space: pre;
  width: auto;
  z-index: 6;
  }

.framer-u1akf .framer-1mdym93-container  {
   aspect-ratio: 1 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 42px);
  position: relative;
  width: 40px;
  z-index: 1;
  }

.framer-u1akf .framer-e9qds4, .framer-u1akf .framer-pt3ixl, .framer-u1akf .framer-1ehjis4, .framer-u1akf .framer-mvdrk1, .framer-u1akf .framer-17crzj9, .framer-u1akf .framer-b4znhv, .framer-u1akf .framer-ngc1t1  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-1059r8w, .framer-u1akf .framer-efsl03, .framer-u1akf .framer-1o8pbgh, .framer-u1akf .framer-1igqdjf  {
   flex: none;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
  z-index: 6;
  }

.framer-u1akf .framer-8r8ndq, .framer-u1akf .framer-1tz4smm, .framer-u1akf .framer-1gx4yom, .framer-u1akf .framer-1h4cega  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 50%;
  min-height: 62px;
  min-width: 242px;
  mix-blend-mode: color-dodge;
  overflow: visible;
  padding: 0px 20px 0px 20px;
  position: absolute;
  top: 50%;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-b9vk3d  {
   align-content: center;
  align-items: center;
  bottom: 20px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 50%;
  overflow: visible;
  padding: 10px 7px 10px 7px;
  position: absolute;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-1te417n, .framer-u1akf .framer-nofxq9, .framer-u1akf .framer-1lpd28d, .framer-u1akf .framer-1t7tyhv  {
   align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: min-content;
  }

.framer-u1akf .framer-hud1fr-container, .framer-u1akf .framer-brlnui-container, .framer-u1akf .framer-mhxrq2-container, .framer-u1akf .framer-qrxf3h-container  {
   flex: none;
  height: auto;
  position: relative;
  width: auto;
  z-index: 1;
  }

.framer-u1akf .framer-1tp016q, .framer-u1akf .framer-1033xqc, .framer-u1akf .framer-ncvu23  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  height: min-content;
  justify-content: flex-end;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-3ye91t-container, .framer-u1akf .framer-64udts-container, .framer-u1akf .framer-1nu4269-container  {
   flex: none;
  height: 104px;
  position: relative;
  width: 104px;
  z-index: 1;
  }

.framer-u1akf .framer-1c45hom, .framer-u1akf .framer-m3seph, .framer-u1akf .framer-zocbwt  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 50%;
  min-height: 62px;
  min-width: 242px;
  mix-blend-mode: color-dodge;
  overflow: visible;
  padding: 0px 20px 0px 20px;
  position: absolute;
  text-decoration: none;
  top: 50%;
  width: min-content;
  z-index: 1;
  }

.framer-u1akf .framer-1y4vphs-container, .framer-u1akf .framer-15nvz7j-container, .framer-u1akf .framer-1ojfcwv-container, .framer-u1akf .framer-1bfvwiu-container  {
   flex: none;
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  width: auto;
  z-index: 1;
  }

.framer-u1akf .framer-1rhkmjw  {
   align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 0px;
  min-height: 62px;
  overflow: visible;
  padding: 0px;
  position: absolute;
  right: 0px;
  text-decoration: none;
  top: 50%;
  z-index: 1;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-npkfjt, .framer-u1akf .framer-19h5hmv, .framer-u1akf .framer-ahusfa, .framer-u1akf .framer-e9qds4, .framer-u1akf .framer-8r8ndq, .framer-u1akf .framer-b9vk3d, .framer-u1akf .framer-1te417n, .framer-u1akf .framer-nofxq9, .framer-u1akf .framer-1lpd28d, .framer-u1akf .framer-1t7tyhv, .framer-u1akf .framer-1tp016q, .framer-u1akf .framer-pt3ixl, .framer-u1akf .framer-1tz4smm, .framer-u1akf .framer-1ehjis4, .framer-u1akf .framer-1c45hom, .framer-u1akf .framer-1rhkmjw, .framer-u1akf .framer-1033xqc, .framer-u1akf .framer-mvdrk1, .framer-u1akf .framer-1gx4yom, .framer-u1akf .framer-17crzj9, .framer-u1akf .framer-m3seph, .framer-u1akf .framer-ncvu23, .framer-u1akf .framer-b4znhv, .framer-u1akf .framer-1h4cega, .framer-u1akf .framer-ngc1t1, .framer-u1akf .framer-zocbwt  {
   gap: 0px;
  }
 .framer-u1akf.framer-npkfjt > *  {
   margin: 0px;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  }
 .framer-u1akf.framer-npkfjt > :first-child, .framer-u1akf .framer-e9qds4 > :first-child, .framer-u1akf .framer-8r8ndq > :first-child, .framer-u1akf .framer-1te417n > :first-child, .framer-u1akf .framer-nofxq9 > :first-child, .framer-u1akf .framer-1lpd28d > :first-child, .framer-u1akf .framer-1t7tyhv > :first-child, .framer-u1akf .framer-1tp016q > :first-child, .framer-u1akf .framer-pt3ixl > :first-child, .framer-u1akf .framer-1tz4smm > :first-child, .framer-u1akf .framer-1ehjis4 > :first-child, .framer-u1akf .framer-1c45hom > :first-child, .framer-u1akf .framer-1rhkmjw > :first-child, .framer-u1akf .framer-1033xqc > :first-child, .framer-u1akf .framer-mvdrk1 > :first-child, .framer-u1akf .framer-1gx4yom > :first-child, .framer-u1akf .framer-17crzj9 > :first-child, .framer-u1akf .framer-m3seph > :first-child, .framer-u1akf .framer-ncvu23 > :first-child, .framer-u1akf .framer-b4znhv > :first-child, .framer-u1akf .framer-1h4cega > :first-child, .framer-u1akf .framer-ngc1t1 > :first-child, .framer-u1akf .framer-zocbwt > :first-child  {
   margin-left: 0px;
  }
 .framer-u1akf.framer-npkfjt > :last-child, .framer-u1akf .framer-e9qds4 > :last-child, .framer-u1akf .framer-8r8ndq > :last-child, .framer-u1akf .framer-1te417n > :last-child, .framer-u1akf .framer-nofxq9 > :last-child, .framer-u1akf .framer-1lpd28d > :last-child, .framer-u1akf .framer-1t7tyhv > :last-child, .framer-u1akf .framer-1tp016q > :last-child, .framer-u1akf .framer-pt3ixl > :last-child, .framer-u1akf .framer-1tz4smm > :last-child, .framer-u1akf .framer-1ehjis4 > :last-child, .framer-u1akf .framer-1c45hom > :last-child, .framer-u1akf .framer-1rhkmjw > :last-child, .framer-u1akf .framer-1033xqc > :last-child, .framer-u1akf .framer-mvdrk1 > :last-child, .framer-u1akf .framer-1gx4yom > :last-child, .framer-u1akf .framer-17crzj9 > :last-child, .framer-u1akf .framer-m3seph > :last-child, .framer-u1akf .framer-ncvu23 > :last-child, .framer-u1akf .framer-b4znhv > :last-child, .framer-u1akf .framer-1h4cega > :last-child, .framer-u1akf .framer-ngc1t1 > :last-child, .framer-u1akf .framer-zocbwt > :last-child  {
   margin-right: 0px;
  }
 .framer-u1akf .framer-19h5hmv > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf .framer-19h5hmv > :first-child, .framer-u1akf .framer-ahusfa > :first-child, .framer-u1akf .framer-b9vk3d > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf .framer-19h5hmv > :last-child, .framer-u1akf .framer-ahusfa > :last-child, .framer-u1akf .framer-b9vk3d > :last-child  {
   margin-bottom: 0px;
  }
 .framer-u1akf .framer-ahusfa > *, .framer-u1akf .framer-b9vk3d > *  {
   margin: 0px;
  margin-bottom: calc(10px / 2);
  margin-top: calc(10px / 2);
  }
 .framer-u1akf .framer-e9qds4 > *, .framer-u1akf .framer-8r8ndq > *, .framer-u1akf .framer-1te417n > *, .framer-u1akf .framer-nofxq9 > *, .framer-u1akf .framer-1lpd28d > *, .framer-u1akf .framer-1t7tyhv > *, .framer-u1akf .framer-pt3ixl > *, .framer-u1akf .framer-1tz4smm > *, .framer-u1akf .framer-1ehjis4 > *, .framer-u1akf .framer-1c45hom > *, .framer-u1akf .framer-1rhkmjw > *, .framer-u1akf .framer-mvdrk1 > *, .framer-u1akf .framer-1gx4yom > *, .framer-u1akf .framer-17crzj9 > *, .framer-u1akf .framer-m3seph > *, .framer-u1akf .framer-b4znhv > *, .framer-u1akf .framer-1h4cega > *, .framer-u1akf .framer-ngc1t1 > *, .framer-u1akf .framer-zocbwt > *  {
   margin: 0px;
  margin-left: calc(10px / 2);
  margin-right: calc(10px / 2);
  }
 .framer-u1akf .framer-1tp016q > *, .framer-u1akf .framer-1033xqc > *, .framer-u1akf .framer-ncvu23 > *  {
   margin: 0px;
  margin-left: calc(15px / 2);
  margin-right: calc(15px / 2);
  }
 
}

.framer-u1akf.framer-v-12g7rxh .framer-1l1vu5j-container, .framer-u1akf.framer-v-12g7rxh .framer-1ehjis4, .framer-u1akf.framer-v-l1x3dl .framer-1l1vu5j-container, .framer-u1akf.framer-v-l1x3dl .framer-1ehjis4, .framer-u1akf.framer-v-9rt1ow .framer-1l1vu5j-container, .framer-u1akf.framer-v-9rt1ow .framer-17crzj9, .framer-u1akf.framer-v-1osm6lc .framer-1l1vu5j-container, .framer-u1akf.framer-v-1osm6lc .framer-17crzj9, .framer-u1akf.framer-v-qmulno .framer-1l1vu5j-container, .framer-u1akf.framer-v-qmulno .framer-ngc1t1, .framer-u1akf.framer-v-y0k57n .framer-1l1vu5j-container, .framer-u1akf.framer-v-y0k57n .framer-ngc1t1, .framer-u1akf.framer-v-106u90k .framer-1l1vu5j-container, .framer-u1akf.framer-v-106u90k .framer-1ehjis4, .framer-u1akf.framer-v-15efhfm .framer-1l1vu5j-container, .framer-u1akf.framer-v-15efhfm .framer-17crzj9, .framer-u1akf.framer-v-kuljlk .framer-1l1vu5j-container, .framer-u1akf.framer-v-kuljlk .framer-ngc1t1, .framer-u1akf.framer-v-1nz7xst .framer-1l1vu5j-container  {
   order: 0;
  }

.framer-u1akf.framer-v-12g7rxh .framer-b9vk3d, .framer-u1akf.framer-v-l1x3dl .framer-b9vk3d, .framer-u1akf.framer-v-9rt1ow .framer-b9vk3d, .framer-u1akf.framer-v-1osm6lc .framer-b9vk3d, .framer-u1akf.framer-v-qmulno .framer-b9vk3d, .framer-u1akf.framer-v-y0k57n .framer-b9vk3d, .framer-u1akf.framer-v-106u90k .framer-b9vk3d, .framer-u1akf.framer-v-15efhfm .framer-b9vk3d, .framer-u1akf.framer-v-kuljlk .framer-b9vk3d, .framer-u1akf.framer-v-1nz7xst .framer-b9vk3d  {
   order: 5;
  }

.framer-u1akf.framer-v-12g7rxh .framer-1tp016q, .framer-u1akf.framer-v-l1x3dl .framer-1tp016q, .framer-u1akf.framer-v-106u90k .framer-1tp016q  {
   flex-direction: column;
  order: 2;
  }

.framer-u1akf.framer-v-12g7rxh .framer-pt3ixl, .framer-u1akf.framer-v-l1x3dl .framer-pt3ixl, .framer-u1akf.framer-v-9rt1ow .framer-mvdrk1, .framer-u1akf.framer-v-1osm6lc .framer-mvdrk1, .framer-u1akf.framer-v-qmulno .framer-b4znhv, .framer-u1akf.framer-v-y0k57n .framer-b4znhv, .framer-u1akf.framer-v-106u90k .framer-pt3ixl, .framer-u1akf.framer-v-15efhfm .framer-mvdrk1, .framer-u1akf.framer-v-kuljlk .framer-b4znhv  {
   order: 2;
  }

.framer-u1akf.framer-v-12g7rxh .framer-3ye91t-container, .framer-u1akf.framer-v-l1x3dl .framer-3ye91t-container, .framer-u1akf.framer-v-9rt1ow .framer-64udts-container, .framer-u1akf.framer-v-1osm6lc .framer-64udts-container, .framer-u1akf.framer-v-qmulno .framer-1nu4269-container, .framer-u1akf.framer-v-y0k57n .framer-1nu4269-container, .framer-u1akf.framer-v-106u90k .framer-3ye91t-container, .framer-u1akf.framer-v-15efhfm .framer-64udts-container  {
   aspect-ratio: 1 / 1;
  height: var(--framer-aspect-ratio-supported, 42px);
  order: 1;
  width: 40px;
  }

.framer-u1akf.framer-v-12g7rxh .framer-15nvz7j-container  {
   width: 120%;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-12g7rxh .framer-1tp016q  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-12g7rxh .framer-1tp016q > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-12g7rxh .framer-1tp016q > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-12g7rxh .framer-1tp016q > :last-child  {
   margin-bottom: 0px;
  }
 
}

.framer-u1akf.framer-v-l1x3dl .framer-1c45hom, .framer-u1akf.framer-v-106u90k .framer-1c45hom  {
   min-width: unset;
  width: 120%;
  }

.framer-u1akf.framer-v-l1x3dl .framer-1y4vphs-container, .framer-u1akf.framer-v-qmulno .framer-1bfvwiu-container, .framer-u1akf.framer-v-y0k57n .framer-1bfvwiu-container, .framer-u1akf.framer-v-106u90k .framer-1y4vphs-container, .framer-u1akf.framer-v-kuljlk .framer-1bfvwiu-container  {
   width: 100%;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-l1x3dl .framer-1tp016q  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-l1x3dl .framer-1tp016q > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-l1x3dl .framer-1tp016q > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-l1x3dl .framer-1tp016q > :last-child  {
   margin-bottom: 0px;
  }
 
}

.framer-u1akf.framer-v-9rt1ow .framer-1033xqc, .framer-u1akf.framer-v-1osm6lc .framer-1033xqc, .framer-u1akf.framer-v-15efhfm .framer-1033xqc  {
   flex-direction: column;
  order: 3;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-9rt1ow .framer-1033xqc  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-9rt1ow .framer-1033xqc > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-9rt1ow .framer-1033xqc > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-9rt1ow .framer-1033xqc > :last-child  {
   margin-bottom: 0px;
  }
 
}

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-1osm6lc .framer-1033xqc  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-1osm6lc .framer-1033xqc > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-1osm6lc .framer-1033xqc > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-1osm6lc .framer-1033xqc > :last-child  {
   margin-bottom: 0px;
  }
 
}

.framer-u1akf.framer-v-qmulno .framer-ncvu23, .framer-u1akf.framer-v-y0k57n .framer-ncvu23, .framer-u1akf.framer-v-kuljlk .framer-ncvu23  {
   flex-direction: column;
  order: 4;
  }

.framer-u1akf.framer-v-qmulno .framer-zocbwt, .framer-u1akf.framer-v-y0k57n .framer-zocbwt, .framer-u1akf.framer-v-kuljlk .framer-zocbwt  {
   min-width: unset;
  width: 115%;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-qmulno .framer-ncvu23  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-qmulno .framer-ncvu23 > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-qmulno .framer-ncvu23 > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-qmulno .framer-ncvu23 > :last-child  {
   margin-bottom: 0px;
  }
 
}

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-y0k57n .framer-ncvu23  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-y0k57n .framer-ncvu23 > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-y0k57n .framer-ncvu23 > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-y0k57n .framer-ncvu23 > :last-child  {
   margin-bottom: 0px;
  }
 
}

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-106u90k .framer-1tp016q  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-106u90k .framer-1tp016q > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-106u90k .framer-1tp016q > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-106u90k .framer-1tp016q > :last-child  {
   margin-bottom: 0px;
  }
 
}

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-15efhfm .framer-1033xqc  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-15efhfm .framer-1033xqc > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-15efhfm .framer-1033xqc > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-15efhfm .framer-1033xqc > :last-child  {
   margin-bottom: 0px;
  }
 
}

.framer-u1akf.framer-v-kuljlk .framer-1nu4269-container  {
   aspect-ratio: 1 / 1;
  height: var(--framer-aspect-ratio-supported, 40px);
  order: 1;
  width: 40px;
  }

@supports (background: -webkit-named-image(i)) and (not (font-palette:dark))  {
   .framer-u1akf.framer-v-kuljlk .framer-ncvu23  {
   gap: 0px;
  }
 .framer-u1akf.framer-v-kuljlk .framer-ncvu23 > *  {
   margin: 0px;
  margin-bottom: calc(15px / 2);
  margin-top: calc(15px / 2);
  }
 .framer-u1akf.framer-v-kuljlk .framer-ncvu23 > :first-child  {
   margin-top: 0px;
  }
 .framer-u1akf.framer-v-kuljlk .framer-ncvu23 > :last-child  {
   margin-bottom: 0px;
  }
 
}

.framer-u1akf.framer-v-1nz7xst .framer-19h5hmv  {
   order: 1;
  }

.framer-u1akf.framer-v-1nz7xst .framer-1mdym93-container  {
   height: var(--framer-aspect-ratio-supported, 40px);
  }

.framer-u1akf[data-border="true"]::after, .framer-u1akf [data-border="true"]::after  {
   content: "";
  border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
  border-color: var(--border-color, none);
  border-style: var(--border-style, none);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
  }